.scrollContainer {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1rem;
  scroll-behavior: smooth;
  height: 400px;
  max-height: 400px;
  transition: height .3s ease-out;

  &.noData {
    height: auto;
  }

  &.isFetched {
    height: auto;
  }
}

.itemList {
  margin-bottom: 0;
}