@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

// Theme
$gray-01: #f0f0f0;
$gray-02: #e1e1e1;
$gray-03: #DCDCDC;
$gray-04: #b6b4b4;
$gray-05: #989797;
$gray-06: #7c7c7c;
$gray-07: #212529;

$primary-bg: #2D9BD7;
$primary-hover: #237BAC;
$primary-color: #D8E6EC;

