@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

// Theme

$gray-02: #f0f0f0;
$gray-03: #e1e1e1;
$gray-04: #D8E6EC;
$gray-05: #7c7c7c;


$primary: #2D9BD7;
$primary-hover: #237BAC;


